<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- (1)共通headerで置き換える -->
<head th:replace="./fragments/common :: common-header('アカウント一覧')"> 
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <header class="jumbotron text-center">
        <h1>アカウント一覧</h1>
		<img src="/message_sensei_arigatou.png" width="20%">
    </header>

	<main class="container">
        <p th:if="${message}" th:text="${message}">
            メッセージ
        </p>

        <p>
            <input type="button" onclick="location.href='/new';" value="新規アカウント作成" />
        </p>

		<table class="table table-light table-striped table-hover">
			<thead class="table-dark">
				<th>ID</th>
				<th>名前</th>
				<th>クラス</th>
				<th>電話</th>
				<th>住所</th>
				<th>操作</th>
			</thead>

			<tbody>
				<tr th:each="account : ${listAccounts}" th:object="${account}">
					<td th:text="*{id}"></td>
					<td th:text="*{name}"></td>
					<td th:text="*{className}"></td>
					<td th:text="*{tel}"></td>
					<td th:text="*{address}"></td>
					<td>
                        <input type="button" th:onclick="'location.href=\''+@{/edit/{id}(id=*{id})}+'\';'" value="編集">&nbsp;
                        <input type="button" th:onclick="'location.href=\''+@{/delete/{id}(id=*{id})}+'\';'" value="削除">
					</td>
				</tr>
			</tbody>
		</table>

		<p th:if="${listAccounts.size() == 0}">データは存在しません。</p>

    </main>
	<footer th:replace="./fragments/common :: common-footer"></footer>

</body>
</html>